body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.cabecalho-index{
  height: 72.5vh;
  background-image: url(../assets/images/banner-initial.png);
  background-size: cover;
  background-attachment: fixed;
}

.cabecalho-home{
  height: 80vh;
  background-image: url(../assets/images/growcast-01.png);
  background-size: cover;
}

.row-cabecalho-home{
  padding-top: 410px;
  padding-left: 100px;
}

header, main{
  color: white;
}

#btn-vamos-la{
  background-color: red;
  border: 0px;
}

#logo{
  width: 8rem;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px
}



.card-hover{
  transition: all 0.5s ease-out;
}

.card-hover:hover {
  margin-top: -20px;
  position: absolute;
  width: 350px;
  background-color: #000000;
  padding-bottom: 20px;
}

.card-infos {
  color: white;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

.card-hover:hover .card-infos {
  display: block;
}

.linha{
  border-bottom: 2px solid gray;
}

#perguntas{
  width: 875px;
}

.accordion-item {
  border: 4px solid black;
}