body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header{
  height: 72.5vh;
  background-image: url(../assets/images/banner-initial.png);
  background-size: cover;
  background-attachment: fixed; /* deixa a imagem parada */
}

header, main{
  color: white;
}

#btn-vamos-la{
  background-color: red;
  border: 0px;
}

#logo{
  width: 8rem;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px
}

.linha{
  border-bottom: 2px solid gray;
}

#perguntas{
  width: 875px;
}

.accordion-item {
  border: 4px solid black;
}