body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header{
  height: 72.5vh;
  background-image: url(../assets/images/banner-initial.png);
  background-size: cover;
  background-attachment: fixed; /* deixa a imagem parada */
}

header p, h3, h5{
  color: white;
}

#btn-vamos-la{
  background-color: red;
  border: 0px;
}

#logo{
  width: 8rem;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px
}

.section-1{
  min-height: 100vh;
  background-color: white;
  padding: 50px;
}